ul {
    background: hsl(180, 29%, 78%); 
    display: flex; 
    justify-content: center; 
    
}

body {

    width: 100%; 
}

.nav li {
    text-decoration: none; 
    list-style: none; 
}

.main {
  background: #eef5db; 
}

.footer {
    background: #4f6367;
    color: #eef5db; 
}


p, li, h1, h2, h3, h4 {
    color: #4f6367; 
    font-family: 'Playfair Display', serif;
}


.text-white {
    color: #eef5db; 
}